.grid-component {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;   
}

.grid-container{
    width: 60%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}